.container{
    padding: 15px;
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    margin-bottom: 10px;
    height: 150px;
    background-color: green;
}
.side-nav {
    margin-right: 20px;
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    padding: 10px 25px 10px 10px;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    margin: 0px 15px 15px 0px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {

    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
}

